<?xml version="1.0" encoding="utf-8"?>

<Translations>
	<en>
		<TOTAL_COUNT>Total {0} file(s)</TOTAL_COUNT>
		<TOTAL_SIZE>Total size: {0}</TOTAL_SIZE>
	</en>
	<zh-CN>
		<TOTAL_COUNT>共 {0} 个文件</TOTAL_COUNT>
		<TOTAL_SIZE>总大小：{0}</TOTAL_SIZE>
	</zh-CN>
	<zh-TW>
		<TOTAL_COUNT>共 {0} 個文件</TOTAL_COUNT>
		<TOTAL_SIZE>總大小：{0}</TOTAL_SIZE>
	</zh-TW>
	<ja>
		<TOTAL_COUNT>合計 {0} ファイル</TOTAL_COUNT>
		<TOTAL_SIZE>合計サイズ：{0}</TOTAL_SIZE>
	</ja>
</Translations>
